$color-prime: #fff;
$color-dark: #030303;
$clor-additional: #710707;
$clor-gold: #9d8665;
$clor-active: #7e6c51;

$content-width: 1440px;
$tablet-width: 1020px;
$mobile-big-width: 768px;
$mobile-small-width: 420px;

$base-font-size: 16px;

$font-prim: "Roboto", Verdana, sans-serif;
$font-add: "Forum", Verdana, sans-serif;
